if SHIELD_TSUNGYU_LILY58_LEFT

config ZMK_KEYBOARD_NAME
    default "tsungyu_lily58"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_TSUNGYU_LILY58_LEFT

if SHIELD_TSUNGYU_LILY58_LEFT || SHIELD_TSUNGYU_LILY58_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_TSUNGYU_LILY58_LEFT || SHIELD_TSUNGYU_LILY58_RIGHT
